{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    <div class="registration-container">
        <h1>Create an account</h1>
{% if errorMessage is not empty %}
    <div class="error-messages">
        <ul>
            {% for error in errorMessage %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
        {{ form_start(registrationForm, {'attr': {'class': 'registration-form'}}) }}
            {{ form_widget(registrationForm) }}
            <button type="submit" class="btn">Create</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}