.btn-toggle {
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #adb5bd;
    background-color: transparent;
    border: none;
}

.btn-toggle:hover, .btn-toggle:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-toggle-nav a {
    padding: 0.25rem 0.5rem;
    color: #adb5bd;
}

.btn-toggle-nav a:hover {
    color: #fff;
}
